/******************************************************************
Site Name: CatapultPGH
Author: Lara Schenck

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

.wrap {
    border-radius: $sml/3;
}

/*********************
HEADER SYTLES
*********************/

.site-title {
    font-size: $h1*3;
    padding-top: $h1*2;
    line-height: 0.9;
}

.secondary {
    font-size: $h1*1.5;
}

.non-main-header {
    @include col-center;
    
    h2:first-of-type {
	font-size: $h1*1.5;
    }
}

/*********************
NAVIGATION STYLES
*********************/


/*********************
CONTENT STYLES
*********************/

.email {
    font-size: $h1*1.5;	
}

.last .directory-listing {
    margin-left: 3rem;
}

.directory-listings {
    display: flex;
    flex-flow: row;

    .directory-category {
	width: 100%;
    }
}

/*********************
FOOTER STYLES
*********************/