/*********************
CLEARFIXIN'
*********************/

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

/*********************
TOOLS
*********************/

// BORDER-BOX ALL THE THINGS! (http://paulirish.com/2012/box-sizing-border-box-ftw/)
* { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing:    border-box; 
	box-sizing:         border-box; 
}

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ 
.image-replacement {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/*********************
LAYOUT
*********************/

@mixin row-center {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

@mixin col-center {
    display: flex;
    flex-flow: column;
    align-items: center;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         darken(#fbe3e4, 30%);
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$bones-blue: 		#5089C1;

$black:             #222;
$white:             #fff;
$light-grey:		#f9f9f9;
$med-grey:			#ccc;

$orange:        	#ED8C1F;
$dark-orange: 		darken($orange, 20%);

$teal: 				#3cb696;
$dark-teal: 		darken(#3cb696, 25%);

$link-color: 		$teal;
$link-hover: 		darken($link-color, 20%);

$bkgd-clr: 			$light-grey;

$light-accent: 		$alert-yellow;
$bright-accent: 	$orange;
$medium-accent: 	#999;
$dark-accent: 		$dark-teal;

$btn-color: 		$teal;

$accent-border: 	2px solid $med-grey;


/*********************
TYPOGRAPHY
*********************/

// Units

$sml: 1.4rem;
$default: 2rem;


$h1: 4.7rem;
$h2: 2.9rem;
$h3: 2.3rem;
$h4: $default;
$h5: $sml;



// Serif and sans serif font variants. I usually have 3 fonts, each of those and a display or script font

$sans-serif:        "proxima-nova", Helvetica, Arial, sans-serif;

// text alignment 
.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }


/*********************
BORDER RADIUS
*********************/

/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include border-radius(4px 4px 0 0);
*/

@mixin border-radius($radius) {
	// defining prefixes so we can use them in mixins below
	$prefixes:      ("-webkit", "-moz", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-border-radius: $radius;
  }

  border-radius: $radius;
}

/*********************
TRANISTION
*********************/

/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/

@mixin transition($transition) {
	// defining prefixes so we can use them in mixins below
	$prefixes:      ("-webkit", "-moz", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-transition: $transition;
  }

  transition: $transition;
}


/*********************
BOX SHADOWS
*********************/

/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include box-shadow(inset 0 0 4px rgba(0,0,0,0.22));
*/

@mixin box-shadow($shadow) {
	// defining prefixes so we can use them in mixins below
	$prefixes:      ("-webkit", "-moz", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-box-shadow: $shadow;
  }

  box-shadow: $shadow;
}


/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/

/* @include css-gradient(#dfdfdf,#f8f8f8); */
@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}

/*********************
BOX SIZING
*********************/

/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	-ms-box-sizing:     $type;
	box-sizing:         $type;
}


/*********************
BUTTONS
*********************/

.btn, .btn:visited {
	font-family: $sans-serif;
	border: 1px solid darken($btn-color, 13%);
	border-top-color: darken($btn-color, 7%);
	border-left-color: darken($btn-color, 7%);
	padding: $sml/2 $sml;
	color: $white;
	display: inline-block;
	font-size: $default;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px rgba(0,0,0, .75);
	cursor: pointer;
	margin-bottom: 20px;
	line-height: 21px;
	@include border-radius(4px);
	@include css-gradient($btn-color, darken($btn-color, 5%));


	&:hover, &:focus {
		color: $white;
	  	border: 1px solid darken($btn-color, 13%);
	  	border-top-color: darken($btn-color, 20%);
	 	border-left-color: darken($btn-color, 20%);
		@include css-gradient(darken($btn-color, 5%), darken($btn-color, 10%));
	}

	&:active {
		@include css-gradient(darken($btn-color, 5%), $btn-color);
	}
}


/*********************
MISC
*********************/

.unstyled-link {
	text-decoration: none !important;
	color: $black;
}